* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo-small {
  width: 50px;
}

header {
  height: 12vh;
}

main {
  height: 88vh;
  display: flex;
}

.sidebar {
  background-image: url(../img/sidebar-bg.png);
  width: 4.5rem;
}

.sidebar-text:hover {
  border-radius: 0%;
  background-color: rgb(131, 143, 154);
  color: black;
}

.bg-sidebar-blue {
  background-color: rgb(5, 30, 52);
}

.bg-badge {
  background-color: rgb(22, 91, 186);
}

.add-student-btn:hover {
  color: black !important;
  background-color: white;
}

.avatar-image {
  width: 40px;
  aspect-ratio: 1/1;
}

@media screen and (min-width:992px) {
  .sidebar {
    width: 150px;
  }
}